<link rel="stylesheet" href="http://cs1520.cs.pitt.edu/~jbd19/doc.css" />
<div>Name: <span>Alec Jacob Deitloff (jbd19)</span></div>
<div>Assignment: <span>Assignment 1</span></div>
<div>Recitation: <span>Thursdays, 3:00PM</span></div>
<div>TA: <span>Qiao Zhang</span></div>
<div>Program Due Date: <span>Wednesday, 25 September 2013</span></div>
<div>Handed In Date: <span>Saturday, 21 September 2013</span></div>
<div>URL of Program: <a href="http://cs1520.cs.pitt.edu/~jbd19/assig1/" target="_blank">http://cs1520.cs.pitt.edu/~jbd19/assig1/</a></div>
<div>AFS Path of Source Code: <span>/afs/pitt.edu/home/j/b/jbd19/public/csweb/assig1/</span></div>
<div>Source code file names: <ul>
<li>index.php</li>
<li>process.php</li>
<li>style.css</li>
<li>script.js</li>
<li>config.inc.php</li>
<li>jquery.js</li>
<li>rules.inc.php</li>
</ul></div>
<div>Other files: <ul>
<li>schedule.txt</li>
<li>index.htm</li>
</ul></div>
<div>Does your program run without error? <span>Yes</span></div>
<div>Additional comments (include problems and extra credit): <span>Even though there isn't much of a need for it here, I wanted to use the multibyte string functions, as those are my usual default function set (given that I normally work with non-latin data, as much of my work deals with different languages). The PHP server here doesn't have these functions, so I wrote wrapper implementations for the regular string functions, so that there would be a fallback in such a scenario. I designed much of the code here to be streamlined; to remove as many special cases as I could. I wanted to challenge myself to see how well I could combine the different actions (creating a new entry vs modifying an existing entry); I'm quite happy with the result of it. There are a couple of configuration options that I made easily accessible through the config.inc.php file, concerning how the program runs. The configuration options have been tested both enabled and disabled, and so tweaking with these options should not have any adverse effect on the assignment. A set of all rules in effect for the program are printed after the table; these are generated from permanent rules (such as "no username may have a carot '^') as well as all enabled configuration options. I also know Javascript, so I wanted to try something new here; in particular, I like the way that I implemented submitting a form. It isn't the perfect and standard way of doing it, but again, it was something I wanted to toy with, and it made it that much simpler to have the multiple "forms" on a single page. Each row is also programmed to remember what the original state of every checkbox was; in doing this, I was able to have a row figure out if it had been modified at all. The new step from this was that the action button for a row will either be "Cancel" or "Submit." Submit will appear when any piece of data on that row has been changed from what it is by default; cancel will be present when the row is not valid for submission (eg, while creating a new entry, the action button will remain "cancel" until a username has been typed into the textbox) as well as when no changes have been made. If a change is made to a row but then undone, the submit button will return to being a cancel button. There's a lot more to play around with, but these were just some of the things in particular. I've been programming with PHP, CSS, JavaScript, and a number of other web languages for probably eight years now, so I felt like I should expect more of myself because I've had longer with the material.<br /><br />OF NOTE, however: when updating the users.txt file, I initially had it simply apending a new row for the new entry, regardless of whether that username existed earlier or not. The program ran, and nothing was wrong at all. However, the users.txt files would clutter up quickly, and I didn't like this; plus, it wasn't how the example files looked like. Therefore, I made a conscious decision to rewrite the entire users.txt file when saving. I know there were other ways to do this other than rewriting the whole file, and I initially implemented appending.</span></div>
