html {
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
}

table {
  border-collapse:collapse;
  border:1px solid black;
  margin:20px auto;
}

table td {
  text-align:center;
}

table th {
  white-space:nowrap;
  text-align:center;
  border-bottom:1px solid black;
  vertical-align:middle;
  background-color:#CFCFCF;
  border-right:1px solid black;
  width:80px !important;
  max-width:80px;
  min-width:80px;
}

table th:last-child {
  border-right:none;
}

table tr.user:not(.newRow) td {
  border-bottom:1px solid #CFCFCF;
}

table tr.user:last-child td {
  border-bottom-color:black;
}

table tr.user:hover {
  background-color:#ABABAB;
}

table td.name, tabl {
  font-weight:600;
  border-color:black !important;
  border-right:1px solid black;
  vertical-align:top;
}

table tr.user td:not(.name):not(:last-child) {
  border-right:1px solid #ABABAB;
  vertical-align:middle;
}

table tr:not(.activated) input:not(.action), table tr.activated span.check {
  display:none;
}

table tr.totals {
  border-top:1px solid black;
}

table tr.totals td:not(:last-child) {
  border-right:1px solid black;
}

table tr.totals td:first-child {
  font-weight:600;
  background-color:#CFCFCF;
}

div.error, div.success {
  width:600px;
  max-width:600px;
  min-width:600px;
  margin:10px auto;
  text-align:center;
  padding:6px 0px;
  border:2px solid black;
  font-weight:600;
}

div.error {
  color:#8E2323;
  background-color:#F08080;
  border-color:#8E2323;
}

div.success {
  color:#458B00;
  border-color:#458B00;
  background-color:#9CBA7F;
}

form#submitForm {
  display:none;
}

ul.rules {
  margin-top:4px;
  font-size:12px;
}

ul.rules li span.label {
  font-weight:600;
}

ul.rules li span.configParam {
  font-style:italic;
}
