<link rel="stylesheet" href="http://cs1520.cs.pitt.edu/~jbd19/doc.css" />
<div>Name: <span>Alec Jacob Deitloff (jbd19)</span></div>
<div>Assignment: <span>Assignment 3</span></div>
<div>Recitation: <span>Thursdays, 3:00PM</span></div>
<div>TA: <span>Qiao Zhang</span></div>
<div>Program Due Date: <span>Friday, 15 November 2013</span></div>
<div>Handed In Date: <span>Friday, 15 November 2013</span></div>
<div>URL of Program: <a href="http://cs1520.cs.pitt.edu/~jbd19/assig3/" target="_blank">http://cs1520.cs.pitt.edu/~jbd19/assig3/</a></div>
<div>AFS Path of Source Code: <span>/afs/pitt.edu/home/j/b/jbd19/public/csweb/assig3/</span></div>
<div>Source code file names: <ul>
<li>ajax/
	<ul>
		<li>getWord.php</li>
		<li>recordRound.php</li>
	</ul>
</li>
<li>lib/
	<ul>
		<li>mbstring.inc.php</li>
		<li>user.inc.php</li>
	</ul>
</li>
<li>script/
	<ul>
		<li>index.js</li>
		<li>script.js</li>
	</ul>
</li>
<li>style/
	<ul>
		<li>no.png</li>
		<li>style.css</li>
		<li>thisRow.png</li>
		<li>yes.png</li>
	</ul>
</li>
<li>changePassword.php</li>
<li>config.inc.php</li>
<li>forgotPassword.php</li>
<li>index.php</li>
<li>init.php</li>
<li>login.php</li>
<li>logout.php</li>
<li>newUser.php</li>
</ul></div>
<div>Other files: <ul>
<li>index.html</li>
<li>words5.txt</li>
</ul></div>
<div>Does your program run without error? <span>Yes</span></div>
<div>Additional comments (include problems and extra credit): <span>Passwords are stored in the database as md5 hashes.<br /><br />init.php will only add the words
from words5.txt to the database. It will not create the database tables for anything else (since that was not required). Additionally, no confirmation email is sent
when a user creates a new user account (since that wasn't required either). However, all of the functionality for the assignment have been implemented.</span></div>
