div.utilities {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	text-align:center;
	z-index:104;
}

div.utilities > div {
	padding:0.7em;
	margin:0.3em;
	width:200px;
	display:inline-block;
}

table.word tr.word td.letter {
	border-bottom:3px solid black;
	width:48px;
	height:48px;
	text-align:center;
	vertical-align:center;
	font-size:32px;
}

div.guessHistory {
	float:right;
	border:1px solid black;
	width:200px;
	margin:25px 5px 5px 5px;
	position:relative;
}

div.guessHistory:before, div.guessHistory::before {
	content: "Guesses";
	position:absolute;
	display:block;
	text-align:center;
	top:-20px;
	left:0px;
	right:0px;
	font-weight:bold;
}

div.guessHistory > div {
	display:inline-block;
	width:44px;
	border:1px solid black;
	height:34px;
	text-align:center;
	font-weight:bold;
	margin:2px;
	padding-top:10px;
}

div.guessHistory > div.Incorrect {
	background-color:red;
}

div.guessHistory > div.Correct {
	background-color:green;
}