div.screen {
	position:absolute;
	background-color:green;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:101;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

div.errorTooltip {
	position:absolute;
	top:20px;
	right:20px;
}

div.errorTooltip > div {
	padding:0.7em;
	cursor:pointer;
}

div.mainBody {
	width:1000px;
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	text-align:center;
}

div.clear {
	clear:both;
}