/* findPerson.php */
div.info.hasNote
{
  background-color:#EADEBD;
  float:left;
  margin-left:15px;
  padding-right:20px;
  margin-right:10px;
  padding-bottom:20px;
  min-width:33%;
  margin-bottom:10px;
}
h2.name
{
  text-align:center;
  margin:0px;
}
h2.name.noNote
{
  text-align:left;
}
h3.sectionHeader
{
  color:#D2BA89;
  margin:0px;
  margin-top:10px;
}
div.info.hasNotes h3.sectionHeader
{
  color:#C6AA76;
}
div.dates
{
  text-align:center;
  font-weight:bold;
}
div.dates.noNote
{
  text-align:left;
}
ul.rulings, ul.marriages
{
  margin:0px;
}
h2.notes
{
  margin-bottom:0px;
  clear:both;
}
ol.notes
{
  margin:0px;
  font-size:90%;
}
ol.notes a.return
{
  font-size:110%;
}

/* Family Tree */
h4.subtitle
{
  font-size:80%;
  text-align:center;
  margin:0px;
}
a.profileReturn
{
  display:block;
  margin-left:10px;
}
div.familyTree
{
  margin-top:20px;
  text-align:center;
}
