*
{
    font-family: Georgia, serif;
}
h1
{
    margin:15px 0px 5px 0px;
    margin-left:10px !important;
    border-bottom:1px solid black;
    clear:both;
    text-transform:capitalize;
}
div.week
{
    margin-left:30px !important;
}
a.topic
{
    display:inline-block;
    width:100px;
    max-width:100px;
    min-width:100px;
    max-height:24px;
    height:24px;
    background:#E0EEEE url("lesson.png") no-repeat top center;
    padding-top:60px;
    text-align:center;
    text-decoration:none;
    color:blue;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    border:1px solid #2F4F4F;
    border-radius:5px;
    text-transform:capitalize;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
a.file
{
    display:inline-block;
    min-width:100px;
    width:100px;
    max-width:100px;
    max-height:24px;
    height:24px;
    overflow:hidden;
    text-overflow:ellipsis;
    background:#C0D9AF url("unknown.png") no-repeat center 12px;
    padding-top:60px;
    text-align:center;
    text-decoration:none;
    color:green;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    border:1px solid #6A8455;
    border-radius:5px;
    white-space:nowrap;
}
a.file.py
{
    background-image:url("python.png");
}
a.file.txt
{
    background-image:url("txt.png");
}
a.file.pdf
{
    background-image:url("pdf.png");
}
a.file.png
{
    background-image:url("image.png");
}
a.home
{
    padding:6px;
    text-decoration:none;
    float:left;
}
a.home:before
{
    content: "< ";
}
div.page
{
    width:900px;
    max-width:900px;
    margin-left:auto !important;
    margin-right:auto !important;
    text-align:left;
    white-space:pre-wrap;
}
div.page:after
{
    content:".";
    font-size:0px;
    display:block;
    clear:both;
}
code
{
    font-family:"Courier New", Courier, monospace;
    border:1px solid gray;
    background-color:#EDEDED;
    padding:4px;
    display:block;
    white-space:pre-wrap;
}
code *, blue, kw,comment
{
    font-family:"Courier New", Courier, monospace;
}
python
{
    font-family:"Courier New", Courier, monospace;
    background-color:#EDEDED;
    /*border:1px solid gray;
    padding-left:4px;
    padding-right:4px;
    white-space:nowrap;*/
}
a.next, a.finish
{
    margin-top:10px;
    float:right;
}
a.previous
{
    margin-top:10px;
    float:left;
}
a.previous:before
{
    content: "< ";
}
a.next:after
{
    content: " >";
}

note
{
    display:block;
    background:#FFEC8B url("note.png") no-repeat 6px 6px;
    border:2px solid #EEC900;
    padding:6px;
    padding-left:50px;
    min-height:34px;
}
note:before
{
    content: "Note! ";
    font-weight:bold;
}
error
{
    color:crimson;
}
emphasis
{
    font-style:italic;
}
emphasis > emphasis
{
    font-style:none;
}
kw
{
    color:rgb(255, 119, 0);
}
term
{
    font-weight:bold;
    font-style:italic;
}
blue
{
    color:blue;
}
comment
{
    color:rgb(221, 0, 0);
}