<link rel="stylesheet" href="http://cs1520.cs.pitt.edu/~jbd19/doc.css" />
<div>Name: <span>Alec Jacob Deitloff (jbd19)</span></div>
<div>Assignment: <span>Assignment 4</span></div>
<div>Recitation: <span>Thursdays, 3:00PM</span></div>
<div>TA: <span>Qiao Zhang</span></div>
<div>Program Due Date: <span>Tuesday, 3 December 2013</span></div>
<div>Handed In Date: <span>Sunday, 1 December 2013</span></div>
<div>URL of Program: <a href="http://cs1520.cs.pitt.edu/~jbd19/assig4/" target="_blank">http://cs1520.cs.pitt.edu/~jbd19/assig4/</a></div>
<div>AFS Path of Source Code: <span>/afs/pitt.edu/home/j/b/jbd19/public/csweb/assig4/</span></div>
<div>Source code file names: <ul>
<li>ajax/
	<ul>
		<li>makeGuess.php</li>
		<li>sendFlag.php</li>
		<li>setWord.php</li>
		<li>syncGame.php</li>
		<li>syncPair.php</li>
	</ul>
</li>
<li>lib/
	<ul>
		<li>game.inc.php</li>
		<li>mbstring.inc.php</li>
		<li>pair.inc.php</li>
		<li>player.inc.php</li>
	</ul>
</li>
<li>script/
	<ul>
		<li>config.js.php</li>
		<li>game.js</li>
		<li>index.js</li>
		<li>jquery.js</li>
		<li>jquery-ui.js</li>
		<li>pair.js</li>
		<li>script.js</li>
	</ul>
</li>
<li>style/
	<ul>
		<li>blitzer/
			<ul>
				<li>images/
					<ul>
						<li>animated-overlay.gif</li>
						<li>ui-bg_diagonals-thick_75_f3d8d8_40x40.png</li>
						<li>ui-bg_dots-small_65_a6a6a6_2x2.png</li>
						<li>ui-bg_flat_0_333333_40x100.png</li>
						<li>ui-bg_flat_65_ffffff_40x100.png</li>
						<li>ui-bg_flat_75_ffffff_40x100.png</li>
						<li>ui-bg_glass_55_fbf8ee_1x400.png</li>
						<li>ui-bg_highlight-hard_100_eeeeee_1x100.png</li>
						<li>ui-bg_highlight-hard_100_f6f6f6_1x100.png</li>
						<li>ui-bg_highlight-soft_15_cc0000_1x100.png</li>
						<li>ui-icons_004276_256x240.png</li>
						<li>ui-icons_cc0000_256x240.png</li>
						<li>ui-icons_ffffff_256x240.png</li>
					</ul>
				</li>
				<li>blitzer.css</li>
			</ul>
		</li>
		<li>images/
			<ul>
				<li>animated-overlay.gif</li>
				<li>ui-bg_diagonals-thick_75_f3d8d8_40x40.png</li>
				<li>ui-bg_dots-small_65_a6a6a6_2x2.png</li>
				<li>ui-bg_flat_0_333333_40x100.png</li>
				<li>ui-bg_flat_65_ffffff_40x100.png</li>
				<li>ui-bg_flat_75_ffffff_40x100.png</li>
				<li>ui-bg_glass_55_fbf8ee_1x400.png</li>
				<li>ui-bg_highlight-hard_100_eeeeee_1x100.png</li>
				<li>ui-bg_highlight-hard_100_f6f6f6_1x100.png</li>
				<li>ui-bg_highlight-soft_15_cc0000_1x100.png</li>
				<li>ui-icons_004276_256x240.png</li>
				<li>ui-icons_cc0000_256x240.png</li>
				<li>ui-icons_ffffff_256x240.png</li>
			</ul>
		</li>
		<li>index.css</li>
		<li>jquery-ui.css</li>
		<li>style.css</li>
	</ul>
</li>
<li>config.inc.php</li>
<li>index.php</li>
<li>init.php</li>
<li>login.php</li>
<li>logout.php</li>
</ul></div>
<div>Other files: <ul>
<li>index.html</li>
</ul></div>
<div>Does your program run without error? <span>Yes</span></div>
<div>Additional comments (include problems and extra credit): <span>I wanted to standardize everything, so that all of the information traveled through the same
channels for both the maker and the guesser; in order to do that, the information returned from the XML calls for guessing a letter and setting a word are minimal,
because all information related to these are handled by Game.sync(), which is called immediately after. I intentionally chose to do this, to have there be only one
avenue of data instead of two separate ones.<br /><br />Test users and passwords are displayed when running <a href="http://cs1520.cs.pitt.edu/~jbd19/assig4/init.php">init.php</a>.</span></div>
