body {
    background-color : #33333a;
    color : #bbbbbb;
    font-family : "gill sans mt", "tw cen mt", sans-serif;
    margin : 3em;
}
a {
    color : #9966aa;
    text-decoration : none;

}
a:link {

}
a:visited {
}
a:hover {
text-decoration:underline;
}
a:active {

}

span.aside {
    color : white;
    font-variant : small-caps;
}

h1,
h2,
h3 {
    font-family : garamond, serif;
    text-transform : capitalize;
}

li {
    color : #9966aa;
}

div {
    background-color : #44444a;
    padding : 1em;
/*    text-align:justify;*/
}
h1 {
    text-align : center;
    text-decoration : underline;
}
p {
    text-align : justify;
}
span.error {
    color : #ff3333;
}
span.error:before {
    content : "["
}
span.error:after {
    content : "]"
}
table {
    text-align : justify;
    margin : auto;
    border-color:white;
    border:dashed thin;
    border-collapse:collapse;
    background-color:#44444a;
    
}
td{/*width:50%;*/
border:dashed thin;
padding:5px;}