span.codexDropButtonLabel
{
    border:solid black 1px;
    background-color:gray;
    border-radius:3px;
}
div.codexNavContainer
{
    
}
div.codexNavContainerCollapsed
{
    
}
div.codexNavContainerCollapsed div.codexNavList
{
    
}