<link rel="stylesheet" href="http://cs1520.cs.pitt.edu/~jbd19/doc.css" />
<div>Name: <span>Alec Jacob Deitloff (jbd19)</span></div>
<div>Assignment: <span>Assignment 2</span></div>
<div>Recitation: <span>Thursdays, 3:00PM</span></div>
<div>TA: <span>Qiao Zhang</span></div>
<div>Program Due Date: <span>Monday, 21 October 2013</span></div>
<div>Handed In Date: <span>Monday, 21 October 2013</span></div>
<div>URL of Program: <a href="http://cs1520.cs.pitt.edu/~jbd19/assig2/" target="_blank">http://cs1520.cs.pitt.edu/~jbd19/assig2/</a></div>
<div>AFS Path of Source Code: <span>/afs/pitt.edu/home/j/b/jbd19/public/csweb/assig2/</span></div>
<div>Source code file names: <ul>
<li>ajax/
	<ul>
		<li>forgotPassword.php</li>
		<li>resolveUser.php</li>
	</ul>
</li>
<li>script/
	<ul>
		<li>createSchedule.js</li>
		<li>global.js</li>
		<li>jquery.js</li>
		<li>jquery-ui.js</li>
		<li>login.js</li>
		<li>schedule.js</li>
	</ul>
</li>
<li>style/
	<ul>
		<li>images/
			<ul>
				<li>animated-overlay.gif</li>
				<li>creator.png</li>
				<li>error.png</li>
				<li>finalize.png</li>
				<li>finalized.png</li>
				<li>finalizeDisabled.png</li>
				<li>finalizeHover.png</li>
				<li>removeSlot.png</li>
				<li>removeUser.png</li>
				<li>ui-bg_diagonals-thick_18_b81900_40x40.png</li>
				<li>ui-bg_diagonals-thick_20_666666_40x40.png</li>
				<li>ui-bg_flat_10_000000_40x100.png</li>
				<li>ui-bg_glass_100_f6f6f6_1x400.png</li>
				<li>ui-bg_glass_100_fdf5ce_1x400.png</li>
				<li>ui-bg_glass_65_ffffff_1x400.png</li>
				<li>ui-bg_gloss-wave_35_f6a828_500x100.png</li>
				<li>ui-bg_highlight-soft_100_eeeeee_1x100.png</li>
				<li>ui-bg_highlight-soft_75_ffe45c_1x100.png</li>
				<li>ui-icons_222222_256x240.png</li>
				<li>ui-icons_228ef1_256x240.png</li>
				<li>ui-icons_ef8c08_256x240.png</li>
				<li>ui-icons_ffd27a_256x240.png</li>
				<li>ui-icons_ffffff_256x240.png</li>
			</ul>
		</li>
		<li>jquery-ui.css</li>
		<li>style.css</li>
	</ul>
</li>
<li>auth.inc.php</li>
<li>change.php</li>
<li>changePassword.php</li>
<li>config.inc.php</li>
<li>create.php</li>
<li>createSchedule.php</li>
<li>database.inc.php</li>
<li>end.inc.php</li>
<li>finalize.php</li>
<li>index.php</li>
<li>init.php</li>
<li>login.php</li>
<li>logout.php</li>
<li>process.php</li>
<li>schedule.inc.php</li>
<li>schedule.php</li>
<li>start.inc.php</li>
</ul></div>
<div>Other files: <ul>
<li>index.html</li>
</ul></div>
<div>Does your program run without error? <span>Yes</span></div>
<div>Additional comments (include problems and extra credit): <span>With more time, I would like to have expanded the object-oriented
classes I wrote to better encompass all of the actions, rather than half of them and the other half handled by direct contact with the
database.<br /><br />
One of the important things regarding the database is that I have three different ways of identifying users and accounts. For the accounts,
I use email addresses as specified, for logging in and determining uniqueness between different accounts. Within the database, however,
I use accountIds (integers) to represent unique accounts; working with numbers is quicker and is what I do generally. However, the third
unique identifiers are for users and schedules. Rather than exposing directly these integers, I have randomly generated hashes for
each item, which are what is used through GET parameters. Exposing the database numbers directly would make it very easy to jump and "pretend"
to be some other user; if you are user 5, then that means you could change the 5 into a 4 and be somebody else.<br /><br />
Additionally, I designed the system so that users exist outside of the schedules. They cannot be used to log in (so they are distinct from
accounts), but once a user has been created, their information will exist outside of the specific schedule they were added with. By using
resolveUser.php, the information that is provided (firstName, lastName, email) will be used to try to find if that specific combination
has existed before, and if so, to return the user that already exists, rather than create a new user with the same information. Users are
also able to specify what account they have. This is mainly to allow the association between the current account that is logged in, and the
unique userHash that represents the account (maker). One of the requirements of this system is that when an account (maker) is created, a
user record for this account must also be created.<br /><br />
Given more time, I would have styled the site better; as it is, I did little in that department, though where grading didn't appear to concern
that, I didn't put much into it. The createSchedule page is lacking, and I would update it, but the code is all in place, and so I feel it
is good enough, since this is just an assignment and not an actual commercial product.<br /><br />
One of the things I have debated with the assignment was creating schedules. With the schedules, it is currently set up so that all schedules
will have the maker automatically a participant of the schedule. In hindsight, this isn't strictly necessary, because the creator is already
entering their information by specifying what time slots are on the schedule (they're likely to only put times they themselves can attend).
It wouldn't be difficult to change this, as there is no code that requires this in particular, but I've left it like this all the same to
leave fewer last-minute changes in the code.<br /><br />
A final note is concerning the "Forgot Password" feature. Because I store the passwords in the database as their md5 hashes, retrieving the
unhashed password isn't a practical option. Therefore, I took the next available route, instead creating a temporary password which I send
to the email address. I've additionally provided a password changing feature, so these temporary passwords can be changed once the maker
can log in.<br /><br />
Finalizing schedules is done by the maker on the schedule page, by clicking the stamp icon on the top-right corner of the table. The option to
finalize will be disabled until at least one signup has occurred. Once finalized, I decided to take the route of disabling users from further
modifying the schedule/signups. This felt like it was a smarter decision, since "finalization" was programmed to happen one time. Given more time,
I would change this.<br /><Br />
DATABASE TERMINOLOGY: (me) "account" = (you) "maker"</span></div>
