body
{
    background-color:#D7CD47;
    font-family:Georgia, 'Sans Serif';
}
center
{
    max-height:1000px;
}
div.whole
{
    position:relative;
    max-width:850px;
    background-color:#CBB444;
    
}
div.navBar
{
    background-color:#DFD188;
    border:3px ridge #CE9524;
    border-radius:5px;
    width:90px;
    padding:4px;
    position:absolute;
    top:0px;
    bottom:50px;
    left:0px;
    margin-top:30px;
    margin-left:10px;
}
div.navBar h6
{
    font-size:65%;
    font-variant:small-caps;
    margin:0px;
    margin-bottom:5px;
}
div.navBar a
{
    display:block;
    text-decoration:none;
    font-size:80%;
    border-bottom-right-radius:5px;
    text-align:center;
    color:#CE9524;
    border-bottom:1px solid black;
    border-right:1px solid black;
    margin-bottom:2px;
    padding:1px 4px 1px 4px;
}
div.navBar a:hover
{
    color:black;
    background-color:#CBB444;
    text-decoration:underline;
}
div.blogList
{
    margin-top:30px;
    margin-left:115px;
    padding:10px;
    background-color:#B13D02;
    max-width:600px;
    text-align:left;
}
div.blogPost h3
{
    color:#FDD525;
    font-variant:small-caps;
}
div.blogList hr.h3
{
    margin:4px 0px 4px 0px;
    max-width:500px;
}
div.blogPost p
{
    color:#E99710;
}
h3
{
    margin:0px;
    text-decoration:underline;
}
p
{
    text-indent:20px;
    margin-left:15px;
}
*
{
    margin:0px;
}