html {
	background-color:#8F9A9C;
}

body {
	background-color:#E6E8E3;
	width:1000px;
	margin:50px auto;
	border:4px solid #65727A;
	border-radius:4px;
	font-family: "Overlock SC", cursive;
	position:relative;
}

body:before {
	position:absolute;
	top:-50px;
	content: "Lingo!";
	font-size:35px;
	display:block;
	text-align:center;
	width:1000px;
}

div.userPanel {
	border-bottom:4px solid #65727A;
	padding:4px;
	text-align:center;
}

div.body {
	padding:5px;
}

div.panel {
	text-align:center;
}

div.panel.hidden {
	display:none;
}

table.lingoTable {
	font-size:32px;
	border:1px solid black;
	font-family: 'Della Respira', serif;
	border-collapse:collapse;
	margin:10px auto;
}

table.lingoTable td {
	position:relative;
}

table.lingoTable:not(.won):not(.lost)[data-guess="0"] tr:nth-child(2) td:first-child:before,
table.lingoTable:not(.won):not(.lost)[data-guess="1"] tr:nth-child(3) td:first-child:before,
table.lingoTable:not(.won):not(.lost)[data-guess="2"] tr:nth-child(4) td:first-child:before,
table.lingoTable:not(.won):not(.lost)[data-guess="3"] tr:nth-child(5) td:first-child:before,
table.lingoTable:not(.won):not(.lost)[data-guess="4"] tr:nth-child(6) td:first-child:before {
	content: ".";
	font-size:0px;
	background:url("thisRow.png") no-repeat 0px 0px;
	width:48px;
	height:48px;
	position:absolute;
	top:-4px;
	left:-50px;
}

table.lingoTable.won[data-guess="0"] tr:nth-child(1) td:first-child:before,
table.lingoTable.won[data-guess="1"] tr:nth-child(2) td:first-child:before,
table.lingoTable.won[data-guess="2"] tr:nth-child(3) td:first-child:before,
table.lingoTable.won[data-guess="3"] tr:nth-child(4) td:first-child:before,
table.lingoTable.won[data-guess="4"] tr:nth-child(5) td:first-child:before,
table.lingoTable.won[data-guess="5"] tr:nth-child(6) td:first-child:before {
	content: ".";
	font-size:0px;
	background:url("yes.png") no-repeat 0px 0px;
	width:48px;
	height:48px;
	position:absolute;
	top:-4px;
	left:-50px;
}

table.lingoTable.lost[data-guess="0"] tr:nth-child(1) td:first-child:before,
table.lingoTable.lost[data-guess="1"] tr:nth-child(2) td:first-child:before,
table.lingoTable.lost[data-guess="2"] tr:nth-child(3) td:first-child:before,
table.lingoTable.lost[data-guess="3"] tr:nth-child(4) td:first-child:before,
table.lingoTable.lost[data-guess="4"] tr:nth-child(5) td:first-child:before,
table.lingoTable.lost[data-guess="5"] tr:nth-child(6) td:first-child:before {
	content: ".";
	font-size:0px;
	background:url("no.png") no-repeat 0px 0px;
	width:48px;
	height:48px;
	position:absolute;
	top:-4px;
	left:-50px;
}

table.lingoTable td {
	border:1px solid black;
	width:42px;
	height:42px;
	text-align:center;
}

table.lingoTable td.red {
	text-transform:uppercase;
	color:red;
}

table.lingoTable td.blue {
	text-transform:uppercase;
	color:blue;
}

table.lingoTable td.black {
	text-transform:lowercase;
	color:black;
}

div.reveal {
	text-align:center;
	margin-top:10px;
	margin-bottom:20px;
	font-size:20px;
}

div.reveal:empty {
	display:none;
}

div.reveal word {
	color:green;
	text-decoration:underline;
}

/* http://www.colourlovers.com/palette/2236415/Winter */