/** GLOBAL **/
html {
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
}

html > body {
	margin-top:23px;
}

span.fauxLink {
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}

html > body > div.navbar {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	border-bottom:1px solid black;
	text-align:center;
	background-color:black;
	height:20px;
	padding-top:1px;
}

html > body > div.navbar > a {
	display:inline-block;
	background-color:white;
	margin:2px 4px;
	text-decoration:none;
	color:black;
	width:200px;
	font-size:13px;
}

html > body > div.navbar > a:hover {
	font-weight:bold;
}

span.alertErrorIcon {
	float:left;
	width:24px;
	height:24px;
	background:url("images/error.png") no-repeat;
	margin-right:10px;
}

div.error, div.success {
  width:600px;
  max-width:600px;
  min-width:600px;
  margin:10px auto;
  text-align:center;
  padding:6px 0px;
  border:2px solid black;
  font-weight:600;
}

div.error {
  color:#8E2323;
  background-color:#F08080;
  border-color:#8E2323;
}

div.success {
  color:#458B00;
  border-color:#458B00;
  background-color:#9CBA7F;
}

/** LOGIN.PHP **/
form.login {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
}

form.login span.reset {
	font-size:10px;
}

form.login label {
	width:200px;
	display:block;
}

form.login input {
	width:100%;
	font-size:14px;
	height:20px;
	border:1px solid #C0C0C0;
}

form.login div.container {
	position:relative;
}

form.login div.container.invalid:after {
	content: attr(data-message);
	position:absolute;
	font-size:12px;
	border:1px solid #660000;
	right:20px;
	bottom:-5px;
	padding:2px;
	background-color:#A52A2A;
	color:white;
}

form.login div.container.invalid input {
	background-color:#EEB4B4;
	border-color:#8E2323;
	color:#8E2323;
}

form.login div.container.valid input {
	border-color:#488214;
	color:#488214;
	background-color:#BCED91;
}

form.login input:not(.button) {
	margin-bottom:10px;
}

/** CREATESCHEDULE.PHP **/
div.removeButton {
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
	background-repeat:no-repeat;
}
div.removeButton.user {
	background-image:url("images/removeUser.png");
}
div.removeButton.slot {
	background-image:url("images/removeSlot.png");
}


/** SCHEDULE.PHP **/
html > body > table.schedule {
  border-collapse:collapse;
  border:1px solid black;
  margin:50px auto;
}

html > body > table.schedule td:not(.scheduleHeader) {
  text-align:center;
  height:26px;
}

html > body > table.schedule th {
  white-space:nowrap;
  text-align:center;
  border-bottom:1px solid black;
  vertical-align:middle;
  background-color:#CFCFCF;
  border-right:1px solid black;
  width:90px !important;
  max-width:90px;
  min-width:90px;
}

html > body > table.schedule th.selected {
	background-color:#9F5F9F;
}

html > body > table.schedule td.scheduleHeader {
	border-bottom:1px solid black;
	font-size:200%;
	text-align:center;
	position:relative;
}

html > body > table.schedule td.scheduleHeader > span.creator {
	font-size:50%;
	display:block;
}

div.finalizeButton {
	position:absolute;
	top:-20px;
	right:-30px;
	width:48px;
	height:48px;
	display:block;
	background-repeat:no-repeat;
}

div.finalizeButton.finalized {
	background-image:url("images/finalized.png");
}

div.finalizeButton.disabled {
	background-image:url("images/finalizeDisabled.png");
}

div.finalizeButton.active {
	background-image:url("images/finalize.png");
	cursor:pointer;
}

div.finalizeButton.active:hover {
	background-image:url("images/finalizeHover.png");
}

html > body > table.schedule th:last-child {
  border-right:none;
}

html > body > table.schedule tr.user:not(:nth-last-child(2)) td {
  border-bottom:1px solid #CFCFCF;
}

html > body > table.schedule tr.user:nth-last-child(2) td {
  border-bottom:1px solid black;
}

html > body > table.schedule tr.user:hover {
  background-color:#ABABAB;
}

html > body > table.schedule tr.user.creator td:first-child{
	position:relative;
}

html > body > table.schedule tr.user.creator td:first-child:before {
	position:absolute;
	left:-18px;
	top:0px;
	content: ".";
	font-size:0px;
	width:16px;
	height:16px;
	background:url("images/creator.png") no-repeat;
	display:block;
}

html > body > table.schedule td.name {
  font-weight:600;
  border-color:black !important;
  border-right:1px solid black;
  vertical-align:top;
  padding-left:5px;
  padding-right:5px;
}

html > body > table.schedule td.selected {
  background-color:#DDA0DD;
}

html > body > table.schedule tr.user td:not(.name):not(:last-child) {
  border-right:1px solid #ABABAB;
  vertical-align:middle;
}

html > body > table.schedule tr:not(.activated) input:not(.action), html > body > table.schedule tr.activated span.check {
  display:none;
}

html > body > table.schedule tr.totals {
  border-top:1px solid black;
}

html > body > table.schedule tr.totals td:not(:last-child) {
  border-right:1px solid black;
}

html > body > table.schedule tr.totals td:first-child {
  font-weight:600;
  background-color:#CFCFCF;
}

form#submitForm {
  display:none;
}